NodeRed_Flow/flows.json
[
    {
        "id": "59d78ce2ae930183",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8836020a091acabf",
        "type": "mqtt in",
        "z": "59d78ce2ae930183",
        "name": "",
        "topic": "My-Temp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b1293cd1756b84f1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 500,
        "wires": [
            [
                "bad14618c679cf57",
                "ca9bf67a9d6c555a"
            ]
        ]
    },
    {
        "id": "bad14618c679cf57",
        "type": "ui_gauge",
        "z": "59d78ce2ae930183",
        "name": "",
        "group": "f5c7532028575db3",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature Guage",
        "label": "Celsuis",
        "format": "{{payload}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 680,
        "y": 440,
        "wires": []
    },
    {
        "id": "ca9bf67a9d6c555a",
        "type": "ui_chart",
        "z": "59d78ce2ae930183",
        "name": "",
        "group": "f5c7532028575db3",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temperature Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 670,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "1352bb317cfe5cca",
        "type": "ui_switch",
        "z": "59d78ce2ae930183",
        "name": "Main Switch",
        "label": "switch",
        "tooltip": "",
        "group": "1a98e1a1c389f684",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 370,
        "y": 100,
        "wires": [
            [
                "d5a92f620e98b83f"
            ]
        ]
    },
    {
        "id": "d5a92f620e98b83f",
        "type": "mqtt out",
        "z": "59d78ce2ae930183",
        "name": "",
        "topic": "My-ON-OFF",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b1293cd1756b84f1",
        "x": 630,
        "y": 140,
        "wires": []
    },
    {
        "id": "44e853a769085253",
        "type": "ui_switch",
        "z": "59d78ce2ae930183",
        "name": "Schedule Switch",
        "label": "switch",
        "tooltip": "",
        "group": "feba63e48808f81d",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 190,
        "y": 240,
        "wires": [
            [
                "4a0f158f1142d80c"
            ]
        ]
    },
    {
        "id": "4a0f158f1142d80c",
        "type": "change",
        "z": "59d78ce2ae930183",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "isScheduled",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 240,
        "wires": [
            [
                "f9ccbffe9cb2a4b8"
            ]
        ]
    },
    {
        "id": "730ea1a8e5e7eb5b",
        "type": "ui_date_picker",
        "z": "59d78ce2ae930183",
        "name": "",
        "label": "ON",
        "group": "feba63e48808f81d",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 150,
        "y": 300,
        "wires": [
            [
                "f2e59190209e63aa"
            ]
        ]
    },
    {
        "id": "48306ca05bf290aa",
        "type": "ui_text_input",
        "z": "59d78ce2ae930183",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "feba63e48808f81d",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "time",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 160,
        "y": 360,
        "wires": [
            [
                "687810d56159cacd"
            ]
        ]
    },
    {
        "id": "687810d56159cacd",
        "type": "change",
        "z": "59d78ce2ae930183",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "scheduledTime",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 360,
        "wires": [
            [
                "f9ccbffe9cb2a4b8"
            ]
        ]
    },
    {
        "id": "f2e59190209e63aa",
        "type": "change",
        "z": "59d78ce2ae930183",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "scheduledDate",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 300,
        "wires": [
            [
                "f9ccbffe9cb2a4b8"
            ]
        ]
    },
    {
        "id": "f9ccbffe9cb2a4b8",
        "type": "function",
        "z": "59d78ce2ae930183",
        "name": "function 1",
        "func": "let isScheduled = global.get(\"isScheduled\");\nlet scheduledDate = global.get(\"scheduledDate\");\nlet scheduledTime = global.get(\"scheduledTime\");\n\nif(isScheduled && scheduledDate && scheduledTime){\n    let schedule=scheduledDate+scheduledTime;\n    if(Date.now()>schedule){\n        return{\n            payload:\"OLDER\"\n        }\n    }else{\n        return{\n            payload:schedule\n        }\n        \n    }   \n}else if(isScheduled===false){\n    return{\n        payload:\"NOT-SCHEDULED-ON\"\n    }\n}else{\n    return{\n        payload:null\n    }\n}    \n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 300,
        "wires": [
            [
                "4f9b70dadf557889"
            ]
        ]
    },
    {
        "id": "4f9b70dadf557889",
        "type": "switch",
        "z": "59d78ce2ae930183",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "NOT-SCHEDULED-ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OLDER",
                "vt": "str"
            },
            {
                "t": "nnull"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 1090,
        "y": 300,
        "wires": [
            [
                "2a416c3b52076824"
            ],
            [
                "51a71b090df4af6b"
            ],
            [
                "b0823f357a557302"
            ],
            [
                "a482bb35b6452f7b"
            ]
        ]
    },
    {
        "id": "2a416c3b52076824",
        "type": "function",
        "z": "59d78ce2ae930183",
        "name": "function 2",
        "func": "return{\n    payload:\"NOT\",\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1300,
        "y": 220,
        "wires": [
            [
                "4eae98d29fa2bc16"
            ]
        ]
    },
    {
        "id": "b0823f357a557302",
        "type": "function",
        "z": "59d78ce2ae930183",
        "name": "function 3",
        "func": "return{\n    payload:Math.round(msg.payload/1000),\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1320,
        "y": 320,
        "wires": [
            [
                "4eae98d29fa2bc16"
            ]
        ]
    },
    {
        "id": "51a71b090df4af6b",
        "type": "function",
        "z": "59d78ce2ae930183",
        "name": "function 4",
        "func": "return{\n    payload:\"Please enter a future timr\"\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 380,
        "wires": [
            [
                "3d3dc386efd5dd44"
            ]
        ]
    },
    {
        "id": "3d3dc386efd5dd44",
        "type": "ui_toast",
        "z": "59d78ce2ae930183",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1570,
        "y": 360,
        "wires": []
    },
    {
        "id": "a482bb35b6452f7b",
        "type": "function",
        "z": "59d78ce2ae930183",
        "name": "function 5",
        "func": "return{\n    payload:\"please enter a valid date and time\"\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 440,
        "wires": [
            [
                "3d3dc386efd5dd44"
            ]
        ]
    },
    {
        "id": "4eae98d29fa2bc16",
        "type": "mqtt out",
        "z": "59d78ce2ae930183",
        "name": "",
        "topic": "My-SCH-ON",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b1293cd1756b84f1",
        "x": 1550,
        "y": 220,
        "wires": []
    },
    {
        "id": "aabadf78e25c5e4b",
        "type": "mqtt in",
        "z": "59d78ce2ae930183",
        "name": "",
        "topic": "My-ON-OFF-ESP",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b1293cd1756b84f1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 100,
        "wires": [
            [
                "1352bb317cfe5cca"
            ]
        ]
    },
    {
        "id": "dae1c6a851bd4302",
        "type": "mqtt in",
        "z": "59d78ce2ae930183",
        "name": "",
        "topic": "My-ON-ESP-SCH",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b1293cd1756b84f1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 180,
        "wires": [
            [
                "a8431b8e3e60c1bd"
            ]
        ]
    },
    {
        "id": "a8431b8e3e60c1bd",
        "type": "function",
        "z": "59d78ce2ae930183",
        "name": "function 6",
        "func": "return{\n    payload:msg.payload===1\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 180,
        "wires": [
            [
                "44e853a769085253"
            ]
        ]
    },
    {
        "id": "1d9093f17fd46e6e",
        "type": "mqtt in",
        "z": "59d78ce2ae930183",
        "name": "",
        "topic": "My-LIGHT-INTENSITY",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9d3c0d3cd1fb5b5c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 700,
        "wires": [
            [
                "597167324a3e78c3",
                "d26e9fd91cc86e46"
            ]
        ]
    },
    {
        "id": "597167324a3e78c3",
        "type": "ui_gauge",
        "z": "59d78ce2ae930183",
        "name": "",
        "group": "52919b03231fd224",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Light Intensity Guage",
        "label": "units",
        "format": "{{payload}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "0.3",
        "seg2": "0.6",
        "diff": false,
        "className": "",
        "x": 640,
        "y": 660,
        "wires": []
    },
    {
        "id": "d26e9fd91cc86e46",
        "type": "ui_chart",
        "z": "59d78ce2ae930183",
        "name": "",
        "group": "52919b03231fd224",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Light Intensity Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 640,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "1ec064131132a188",
        "type": "mqtt out",
        "z": "59d78ce2ae930183",
        "name": "",
        "topic": "My-ANGLE-OFFSET",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9d3c0d3cd1fb5b5c",
        "x": 880,
        "y": 820,
        "wires": []
    },
    {
        "id": "7ab8528730b6eabb",
        "type": "mqtt out",
        "z": "59d78ce2ae930183",
        "name": "",
        "topic": "My-CONTROLLING_FACTOR",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9d3c0d3cd1fb5b5c",
        "x": 930,
        "y": 880,
        "wires": []
    },
    {
        "id": "4c7ed53854c10065",
        "type": "ui_slider",
        "z": "59d78ce2ae930183",
        "name": "",
        "label": "Minimum Angel",
        "tooltip": "",
        "group": "c219f2e6a2fa6cd7",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "120",
        "step": "1",
        "className": "",
        "x": 580,
        "y": 840,
        "wires": [
            [
                "1ec064131132a188"
            ]
        ]
    },
    {
        "id": "dd87db57d90bc4d5",
        "type": "ui_slider",
        "z": "59d78ce2ae930183",
        "name": "",
        "label": "Controlling Factor",
        "tooltip": "",
        "group": "c219f2e6a2fa6cd7",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "1",
        "step": "0.05",
        "className": "",
        "x": 590,
        "y": 900,
        "wires": [
            [
                "7ab8528730b6eabb"
            ]
        ]
    },
    {
        "id": "4e4cb81b02147db6",
        "type": "ui_text",
        "z": "59d78ce2ae930183",
        "group": "52919b03231fd224",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Highest Intensity",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 650,
        "y": 1000,
        "wires": []
    },
    {
        "id": "5299123874d04ac8",
        "type": "mqtt in",
        "z": "59d78ce2ae930183",
        "name": "",
        "topic": "My-HIGHEST-LIGHT-INTENSITY",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9d3c0d3cd1fb5b5c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 390,
        "y": 1000,
        "wires": [
            [
                "4e4cb81b02147db6"
            ]
        ]
    },
    {
        "id": "30e328d7c6461870",
        "type": "ui_dropdown",
        "z": "59d78ce2ae930183",
        "name": "",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "c219f2e6a2fa6cd7",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "Tablet A",
                "type": "str"
            },
            {
                "label": "",
                "value": "Tablet B",
                "type": "str"
            },
            {
                "label": "",
                "value": "Tablet C",
                "type": "str"
            },
            {
                "label": "",
                "value": "Custom",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 120,
        "y": 860,
        "wires": [
            [
                "afc11b3362e13595",
                "406c96e879cb6afb"
            ]
        ]
    },
    {
        "id": "afc11b3362e13595",
        "type": "function",
        "z": "59d78ce2ae930183",
        "name": "function 7",
        "func": "if (msg.payload === \"Custom\") {\n    msg.payload = 0;\n    \n} else {\n    if (msg.payload === \"Tablet A\") {\n        // Set predefined values for Tablet A\n        msg.payload = 90;       \n    } else if (msg.payload === \"Tablet B\") {\n        msg.payload = 60;\n       \n    } else if (msg.payload === \"Tablet C\") {\n        msg.payload = 120;        \n    }\n    // Pass on the values to the rest of the flow\n    return msg;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 820,
        "wires": [
            [
                "4c7ed53854c10065"
            ]
        ]
    },
    {
        "id": "406c96e879cb6afb",
        "type": "function",
        "z": "59d78ce2ae930183",
        "name": "function 8",
        "func": "if (msg.payload === \"Custom\") {\n    msg.payload = 0;\n} else {\n    if (msg.payload === \"Tablet A\") {\n        // Set predefined values for Tablet A\n        msg.payload = 0.5;\n    } else if (msg.payload === \"Tablet B\") {\n        msg.payload = 0.7;\n\n    } else if (msg.payload === \"Tablet C\") {\n        msg.payload = 0.3;\n    }\n    // Pass on the values to the rest of the flow\n    return msg;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 900,
        "wires": [
            [
                "dd87db57d90bc4d5"
            ]
        ]
    },
    {
        "id": "b1293cd1756b84f1",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f5c7532028575db3",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "eacc2f4eeca51e21",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1a98e1a1c389f684",
        "type": "ui_group",
        "name": "Main Switch",
        "tab": "eacc2f4eeca51e21",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "feba63e48808f81d",
        "type": "ui_group",
        "name": "Schedule",
        "tab": "eacc2f4eeca51e21",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9d3c0d3cd1fb5b5c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org/",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "52919b03231fd224",
        "type": "ui_group",
        "name": "Light Intensity",
        "tab": "eacc2f4eeca51e21",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c219f2e6a2fa6cd7",
        "type": "ui_group",
        "name": "Shade Controller",
        "tab": "eacc2f4eeca51e21",
        "order": 3,
        "disp": true,
        "width": "4",
        "collapse": false,
        "className": ""
    },
    {
        "id": "eacc2f4eeca51e21",
        "type": "ui_tab",
        "name": "Medibox",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]